@use '../../components/account/Header.scss';



// 카드 크기
$card-width: 152px;
$card-height: 210px;

.store {
  font-family: "NanumSquareNeo-Variable";
  // background-color: aquamarine;
  display: grid;
  height: calc(93% - calc($borderWidthTop + $borderWidthBottom));
  place-items: center;

  .box-whole {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .box-content-top {
      position: relative;
      background-color: #f0f0f0;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 2rem;
        padding-left: 2rem;
      }
      .navbar {
        display: flex;
        align-items: center;
        .myPoint {
          font-size: 1.3rem;
          margin: 0 1rem;
        }
      }
    }

    .box-content-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      .shop-owner {
        width: 10rem;
        height: 10rem;
        background-image: url("../../../../public/shopOwner.png");
        background-size: cover;
        margin-bottom: -4rem;
      }

      .shelf::-webkit-scrollbar {
        width: 15px; /* Chrome, Safari, Opera */
      }

      .shelf::-webkit-scrollbar-thumb {
        background-color: rgb(112, 212, 255); /* Chrome, Safari, Opera */
        border-radius: 25px;
      }

      .shelf::-webkit-scrollbar-track {
        background-color: rgb(222, 222, 222); /* Chrome, Safari, Opera */
        width: 4px;
      }

      .shelf {
        white-space: nowrap;
        overflow-x: scroll;
        width: 50rem;

        .skin-box {
          display: inline-block;
          vertical-align: top;
          text-align: center;
          padding: 1.2rem 2rem;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .skin-name {
            padding: 0.4rem 0.4rem;
            color: rgb(0, 186, 232);
            font-size: 1.2rem;
          }
          .skin-img {
            width: $card-width;
            height: $card-height;
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 12px;
            border: solid 1px black;
            cursor: pointer;
          }
          .buy-btn:hover{
            background-color: #003cff;
          }
          .buy-btn {
            padding: 0.6rem 3rem;
            width:100%;
            margin: 0.6rem 0;
            background-color: rgb(0, 179, 255);
            font-family: "NanumSquareNeo-Variable";
            color: #ffffff;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            font-size: 0.8rem;
          }
          .buy-btn.soldOut {
            background-color: red;
          }
        }
      }
    }
  }
}


// 카드 스킨 이미지
.apple {
  background-image: url("../../../../public/skin/apple.png") !important;
  display: block !important;
}

.heart_queen {
  background-image: url("../../../../public/skin/heart_queen.png");
}

.cat {
  background-image: url("../../../../public/skin/cat.png");
}

.zombie {
  background-image: url("../../../../public/skin/zombie.png");
}

.basic {
  background-image: url("../../../../public/skin/basic.png");
}

.white_rabbit {
  background-image: url("../../../../public/skin/white_rabbit.png");
}

.Taewook {
  background-image: url("../../../../public/skin/Taewook.png");
}

.Arsenal {
  background-image: url("../../../../public/skin/Arsenal.png");
}

.Jedi {
  background-image: url("../../../../public/skin/Jedi.png");
}

.magic {
  background-image: url("../../../../public/skin/magic.png");
}

.nomal {
  background-image: url("../../../../public/skin/nomal.png");
}
