.nickchange {
  font-family: "NanumSquareNeo-Variable";
  display: grid;
  height: calc(93% - 1px);

  .box-whole {
    .myname {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 20%;

        font-size: 3rem;
    }
    .changeNameTitle {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        
        font-size: 2rem;
    }
       
    .labelForm {
        position: absolute;
        top: 52%;
        left: 37%;
        transform: translate(-50%);

        font-size: 1.2rem;
    }

    .labelInput{
        position: absolute;
        top: -11%;
        left: 270%;
        transform: translate(-50%);
        
        padding: 6px 6px;
        font-size: 1.2rem;
    }

    .checkBtn {
        position: absolute;
        top: 51.5%;
        left: 65%;
        transform: translate(-50%);

        background-color: #f0f0f0;
        color: #333;
        border: none;
        border-radius: 4px;
        padding: 6px 6px;
        text-decoration: none;
        font-family: "NanumSquareNeo-Variable";
        font-size: 1.2rem;
        cursor: pointer;
    }

    .changeBtn {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 71%;

        font-family: "NanumSquareNeo-Variable";
        padding: 1.2rem 2.4rem;
        background-color: #777eff;
        color: #ffffff;
        border: 1px solid black;
        font-size: 1rem;
        cursor: pointer;
    }
  }
}
