.GameEasy {
  margin: 0;
  font-family: 'Mali-Regular';
  font-size: 1.5em;
  text-align: center;
  color: #000;

  width: 100%;
  height: 100vh;
  background-image: url('../../../public/background.jpg');
  background-size: cover;

  .GameBackground {
    max-width: 860px;
    margin: 40px auto;
  }

  .RestartBtn {
    background: none;
    border: none;

    font-family: 'Mali-Regular';
    color: #000;
    cursor: pointer;
    font-size: 1em;
  }

  .RestartBtn:hover {
    background: none;
    color: #000;
  }

  .cardGrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
