.background {

  .RestartBtn {
    position: absolute;
    top: 0.5rem;
    margin-left: 88%;
    background: none;
    border: none;

    font-family: 'Mali-Regular';
    color: #000;
    cursor: pointer;
    font-size: 2.5rem;
  }

  .RestartBtn:hover {
    background: none;
    color: #000;
  }

  .hardGameBackground {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 48%;

    text-align: center;
    font-size: 2rem;

  .cardGrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  }
}