$borderWidthTop: 1px;
$borderWidthBottom: 1px;

.home {
  width: 100%;
  font-family: 'DungGeunMo';
  display: grid;
  height: calc(93% - calc($borderWidthTop + $borderWidthBottom));

  .box-whole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .box-title-gamescreen{
      border: 2px solid;
      width: 60%;
      
    .home-title {
      text-align: center;

      width: 100%;
      height: 4.5rem;
      border-bottom: 1px solid;
      background: rgb(215, 255, 249);
      background: radial-gradient(
        circle,
        rgba(215, 255, 249, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );

      b {
        font-size: 3em;
      }
    }

    .gameScreen::before {
      content: "";

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 30rem;
      opacity: 0.3;
      background-color: #000;
    }

    .gameScreen {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 30rem;
      background-image: url("../../../public/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;

      .game-link {
        position: absolute;
        width: 105px;
        height: 135px;
        left: 50%;
        transform: translate(-50%);

        border: none;
        background-color: transparent;
        background-image: url("../../../public/startBtn.png");
        background-size: cover;
      }
    }
  }
}
}
