  .levelTitle {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 30px;
    left: 50%;
    transform: translate(-50%);

    font-family: "Mali-Regular";
    font-size: 35px;
    color: #000;
    text-align: center;
  };

// $selectedImage: url('../../../public/easyBtn.png');

  .chooseLevelEasy {
    position: absolute;
    width: 59.5px;
    height: 76px;
    top: 110px;
    left: 38%;
    transform: translate(-50%);

    border: none;
    background-color: transparent;
    background-image: url(#($bgImageEasy));
    background-size: cover;
  };

  .chooseLevelNormal {
    position: absolute;
    width: 59.5px;
    height: 76px;
    top: 110px;
    left: 50%;
    transform: translate(-50%);

    border: none;
    background-color: transparent;
    background-image: url(#($bgImageNormal));
    background-size: cover;
  };

  .chooseLevelHard {
    position: absolute;
    width: 59.5px;
    height: 76px;
    top: 110px;
    left: 62%;
    transform: translate(-50%);

    border: none;
    background-color: transparent;
    background-image: url(#($bgImageHard));
    background-size: cover;
  };

  .startBtn {
    position: absolute;
    width: 105px;
    height: 135px;
    top: 200px;
    left: 50%;
    transform: translate(-50%);

    border: none;
    background-color: transparent;
    background-image: url('../../../public/easyBtn.png');
    background-size: cover;
  };
