@use '../../components/account/Header.scss';
$row-height: 3.35rem;

.rank {
  // background-color: aquamarine;
  font-family: 'DungGeunMo';
  display: grid;
  height: calc(93% - calc($borderWidthTop + $borderWidthBottom));
  place-items: center;
  .myscore {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 1;
  }
  .score-header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 1;
    padding: 1rem;
  }
  
  .table-container thead {
    position: sticky;
    top: 3.5rem; /* .myscore의 높이와 동일하게 설정 */
    background-color: rgb(39, 39, 39);
    color: white;
    z-index: 1;
  }
  

  .box-whole {
    .body-content {
      display: flex;
      justify-content: center;
      .navbar {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 1rem 0 1rem;

        .lv {
          padding: 1rem;
          font-size: 1rem;
          background-color: rgb(34, 34, 34);
          color: white;
          border-radius: 12px;
          text-align: center;
        }
        .lv-bar {
          background-color: rgb(220, 220, 220);
          display: flex;
          flex-direction: column;
          border-radius: 12px;
          .lv-btn {
            padding: 0.2rem 0.4rem;
            margin: 0.8rem 1.5rem;
            font-size: 1rem;
            background-color: transparent;
            color: #333;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            text-decoration: none;
          }
          .lv-btn:hover {
            background-color: rgb(35, 54, 255);
            opacity: 0.6;
            color: white;
            border-radius: 25px;
            cursor: pointer;
          }
          .lv-btn.active{
            background-color: rgb(35, 54, 255);
            color: white;
            border-radius: 25px;
          }
        }
      }
      .table-box::-webkit-scrollbar {
        width: 22px; /* Chrome, Safari, Opera */
      }

      .table-box::-webkit-scrollbar-thumb {
        background-color: skyblue; /* Chrome, Safari, Opera */
        border-radius: 25px;
      }

      .table-box::-webkit-scrollbar-track {
        background-color: gray; /* Chrome, Safari, Opera */
        width: 5px;
      }
      .table-box {
        background-color: #f0f0f0;
        height: 25rem;

        justify-content: space-between;

        overflow-y: scroll;
        
        .table-container {
          background-color: pink;
          border-collapse: collapse;
        }

        .table-container thead {
          position: sticky;
          top: 0;
          background-color: rgb(39, 39, 39);
          color: white;
        }

        .table-container tbody {
          height: calc(
            100% - $row-height * 4
          ); /* thead의 높이를 제외한 부분의 높이 설정 */
        }

        .table-container tbody tr:nth-child(1) {
          position: sticky;
          top: $row-height;
          background-color: rgb(59, 15, 255);
          color: white;
          z-index: 1;
        }

        .table-container tbody tr:nth-child(2) {
          position: sticky;
          top: $row-height * 2;
          background-color: rgb(71, 123, 255);
          color: white;
          z-index: 1;
        }

        .table-container tbody tr:nth-child(3) {
          position: sticky;
          top: $row-height * 3;
          background-color: rgb(112, 181, 255);
          color: white;
          z-index: 1;
        }

        .table-container tbody tr:nth-child(n + 4) {
          background-color: rgb(220, 220, 220);
        }
      }
    }
  }
}

th {
  padding: 1rem 3rem;
}

td {
  padding: 1rem 3rem;
}

td:nth-child(n - 3) {
  /* index + 1에 해당하는 td 요소 선택 */
  text-align: center;
}

td:nth-child(4) {
  /* item.score에 해당하는 td 요소 선택 */
  text-align: right;
}

.rainbow-text-loop {
  font-size: 1rem;
  text-shadow: 2px 2px 4px #000000;
  animation: rainbow 5s infinite;
  font-weight: bold;
}

@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}
